<% content_for :title, "#{perspective.name} (#{perspective.type.sub(/Perspective/, '').humanize})" %>

<% content_for :toolbar do %>
  <%= link_to 'Edit', [ :edit, perspective ], class: 'btn btn-primary' %>
  <%= link_to 'Delete', perspective, method: :delete, class: 'btn btn-danger' %>
<% end %>

<%= simple_format perspective.description %>

<h2>Details</h2>

<dl>
  <dt>Shown in sidebar?</dt>
  <dd><%= perspective.shown_in_sidebar? ? "Yes" : "No" %></dd>

  <%= yield perspective %>
</dl>
