<% content_for :title, 'New perspective' %>

<p>
  Which kind of perspective would you like to add?
</p>

<ul>
  <li><%= link_to 'Inbox perspective', new_inbox_perspective_path %></li>
  <li><%= link_to 'Projects perspective', new_projects_perspective_path %></li>
  <li><%= link_to 'Contexts perspective', new_contexts_perspective_path %></li>
  <li><%= link_to 'Flagged perspective', new_flagged_perspective_path %></li>
  <li><%= link_to 'Review perspective', new_review_perspective_path %></li>
</ul>
